body {
    font: 1em sans-serif;
    width: 200px;
    padding: 0;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    margin: auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.25rem;
    display: none;
}

.form-field {
    border-radius: 5px;
    padding: 0.5rem;
    margin: 5px;
    width: 80%;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.form-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}

.form-field.error {
    border-color: red;
    background-color: #ffe6e6;
}

.form-field.valid {
    border-color: green;
    background-color: #e6ffe6;
}